<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/icofont/icofont.min.css">
     
    <script defer src="/bjs/jquery.min.js"></script>
    <script defer src="/bjs/bootstrap.bundle.min.js"></script>
    <title>Trackify</title>
   
</head>
<body>
    <%- include('../partials/admin-nav') %>
    <div class="app">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2  order-2 order-md-1">
                <%- include('../partials/admin-sidebar') %>
            </div>
            <div class="col-12 col-lg-9  col-lg-10 order-1 order-md-2">
                <div class="page-view-area">
                    <div class="nav-adjust"></div>
                    
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-7">
                            <div class="page-info-div">
                                <h1 class="page-head">
                                    Edit Bus
                                </h1>
                                <p class="mt-2">
                                    <a class="text-decoration-none text-dark" href="/admin">Home</a>&nbsp;>
                                    <a class="text-decoration-none text-dark" href="/admin/bus">All Buses</a>&nbsp;>

                                    <a class="text-decoration-none text-info" href="#">Edit Bus</a>
                                </p>
                            </div>
                        </div>
                       
                    </div>
                    
                    <form action="/admin/bus/<%=bus.id%>/edit" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="mb-3 mt-3">
                                    <label class="form-label">Bus Number</label>
                                    <input type="text" class="form-control" name="busNo" required placeholder="Enter College Assigned Bus Number" value="<%=bus.busNo%>"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3 mt-3">
                                    <label class="form-label">Bus Register Number</label>
                                    <input type="text" class="form-control" name="regNo" placeholder="KL 11 AQ 1122" required value="<%=bus.regNo%>"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3 mt-3">
                                    <label class="form-label">Driver Name</label>
                                    <input type="text" class="form-control" name="driver" placeholder="Enter Driver Name" required value="<%=bus.driver%>"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3 mt-3">
                                    <label class="form-label">Driver Phone</label>
                                    <input type="text" class="form-control" name="phone" placeholder="Enter 10 digit mobile number only" minlength="10" maxlength="10" required value="<%=bus.phone%>"/>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3 mt-3">
                                    <label class="form-label">Route</label>
                                    <input type="text" class="form-control" name="routeName" placeholder="Eg: Kozhikode - Ramanattukara - College"  required value="<%=bus.routeName%>"/>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mt-3">
                                    <button class="btn btn-success" type="submit">SAVE</button>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script >
        document.getElementById('si1').classList.add('sidebar-item-active')
    </script>
</body>
</html>